# Project Specific
dist/
out
dist
*.tgz

# Deno specific
.deno/
*.orig
*.pyc
*.swp
node_modules

# TypeScript
*.tsbuildinfo
.tscache/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - JetBrains
.idea/
*.iml
*.iws
.idea_modules/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db
*.log
.git
# dependencies (bun install)

# output


# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# caches
.eslintcache
.cache

# IntelliJ based IDEs
.idea

