version: "3.8"
services:
  bun_dev:
    image: oven/bun:1
    ports:
      - 8000:8000
    environment:
      - DENO_DIR=/tmp/deno_cache
      - PORT=8000
    volumes:
      - .:/app
    working_dir: /app
    tty: true
    command: turbo dev --filter=!@vertex-link/desktop

volumes:
  deno-cache:
