@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

.documentation-container {
    padding: 2rem;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

pre {
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;
}

code {
    font-family: 'Roboto Mono', monospace;
}
